﻿
@{
    //ViewData["Title"] = "MyView";
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width">
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
    @ViewBag.Greeting, world! (from MyView)
        <p>
        We're going to have an exciting party.<br>
        (To do: sell it better. Add pictures or something.)
        </p>
        <a asp-action="RsvpForm">Fill the form now!</a>
    </div>
</body>
</html>

