﻿@model PartyInvites.Models.GuestResponse 
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <p>
        <h1>Thank you, @Model.Name!</h1>
        @if (Model.WillAttend == true)
            {
                @: It's great that you're coming. The drinks are already in the fridge!
            }
        else
            {
                @: Sorry to hear that you can't make it, but thanks for letting us know.
            }
    </p>
    <p>
        Click <a asp-action="ListResponses">here</a> to see who is coming.
    </p>
</body>
</html>
